@charset "utf-8";
/*遮罩样式*/
.bg-alert {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  opacity: 0.4;
  display: none;
}

.alert-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .8);
}

#alert-container {
  z-index: 1001;
}

/*弹框*/
.alert {
  display: none;
  color: #333;
  font-size: .24rem;
  line-height: .36rem;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1001;
  border-radius: .1rem;

  width: 4.98rem;
  width: 5.4rem;
  min-height: 3.11rem;
  -webkit-transform: translate(-50%, -74%);
  transform: translate(-50%, -74%);
  color: #fff;
}

.alert .close-btn {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: .5rem;
  height: .5rem;
  background: url(https://api.wjdai.com/activity/1712invest/img/guanbi.png) no-repeat;
  background-size: cover;
  margin-left: -.25rem;
}

.alert img {
  display: block;
}

.alert .share1 {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.alert.alert-flip-card-succ {
  width: 5.67rem;
  min-height: 6.67rem;
}

.alert .content {
  /*height: 4.54rem;*/
  min-height: 2.54rem;
  text-align: center;
  background: #B4231E;
  border-radius: .1rem;
  /*box-shadow: 0 .03rem .24rem #3e0fe7;*/
  padding-top: 1px;
}

.alert .content2 {
  width: 5.67rem;
  min-height: 6.67rem;
  text-align: center;
}

.alert .content4 {
  text-align: center;
  background: #B4231E;
  border-radius: .1rem;
  padding-top: 1px;
  height: 1.2rem;
  width: 3rem;
  margin: 0 auto;
  line-height: 1.2rem;
}

.alert .content .qg-pic {
  display: block;
  height: 1.7rem;
  margin: .26rem auto .2rem;
}

.alert.alert-succ .qg-pic {
  height: 1.06rem;
  margin: .5rem auto .3rem;
}

.alert.alert-flip-card-succ .qg-pic {
  /*width: 5.67rem;*/
  height: 6rem;
  text-align: center;
  margin: auto;
}

.alert.alert-redpack-succ .qg-pic {
  height: 5.26rem;
  text-align: center;
  margin: auto;
}

.alert-sure .content {
  height: 2.8rem;
  margin: 0 auto;
  padding-top: .7rem;
}

.alert-succ .info.info2 {
  width: 70%;
  margin: auto;
}

.alert-card-exchange .content3 .qg-pic {
  margin: .36rem auto .46rem;
}

.alert-card-exchange .info > span {
  color: #E7B907;
}

.alert .alert-btn {
  display: inline-block;
  outline: 0;
  font-size: .3rem;
  width: 2.2rem;
  height: .65rem;
  line-height: .65rem;
  text-align: center;
  color: #fff;
  background-color: #FFAB3B;
  font-weight: normal;
  margin: .4rem auto;
  border-radius: .1rem;
  border: 0;
}

.alert .alert-btn2 {
  width: 1.4rem;
  margin: .4rem .2rem;
}

.alert .alert-btn2:nth-child(even) {
  color: #FFAB3B;
  background-color: initial;
  border: 1px solid #ffab3b;
}

.alert.alert-flip-card-succ .alert-btn {
  background-color: #F44F1F;
}

.alert.alert-redpack-succ .alert-btn {
  background-color: #FECE00;
}

/*

.alert .btn5,
.alert .btn6 {
  width: 1.2rem;
}

.alert .btn6 {
  border: solid 1px rgba(62, 15, 231, .46);
  background: #fff;
  color: #FFAB3B;
}

.alert .alert-btn-group {
  width: 80%;
  margin: .4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert .alert-btn-group .alert-btn {
  margin: .1rem auto;
}

.alert-card-exchange .alert-btn-group {
  margin: .1rem auto;
}*/
.alert-act-intro .content {
  height: 4.4rem;
  text-align: left;
}
.alert-act-intro .act-info-wrap {
  width: 90%;
  margin: .2rem auto;
  height: 4rem;
  overflow-y: scroll;
  font-size: .2rem;
  line-height: .3rem;
}

.alert-act-intro .act-info-wrap .act-info {
  width: 100%;
  margin: auto;
  padding-top: 0;
}