$cd6f3a:#cd6f3a;
$ff4d49:#ff4d49;
$ff4923:#7d4923;
$fffdf2:#fffdf2;
.top_banner{
  background: rgba(0, 0, 0, 0) url("../img/banner.jpg") no-repeat scroll center center;
  height: 748px;
  margin:{
    left: auto;
    right: auto;
  }

  max-width: 1920px;
  min-width: 1000px;
}
.main_box{
  max-width: 1920px;
  min-width: 1000px;
  background: rgba(0, 0, 0, 0) url("../img/gb.png") repeat scroll center center;
  height: 100%;
  padding-top: 30px;
  .first_box{
    width: 1000px;
    height: 730px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0) url("../img/first_bg.png") repeat scroll center center;
    .first_title{
      font:{
        size: 36px;
        weight: bold;
      }
      color: $ff4923;
      text-align: center;
      padding:{
        top: 40px;
        bottom: 30px;
      }
    }
    .first_body{
      width: 960px;
      margin: 0 auto;
      background: #fff5e9;
      height: 340px;

    }
    .first_footer{
       font: {
         size: 16px;
       };
      color: $ff4923;
      width: 930px;
      margin: 26px auto 0;
      line:{
        height: 28px;
      }
    }
  }
}
.first_body{
  .main_contain{
    width: 930px;
    margin: 0 auto ;
    overflow: hidden;
    padding:{
      top:40px
    }
    .pro{
      width: 310px;
      float: left;
      line:{
        height:48px ;
      }
      text:{
        align: center;
      }
      font: {
        size: 24px
      };
      color: $ff4923;
      .mun{
        font: {
          size: 36px;
          weight: bold;
        };
        color: $ff4d49;
        span{
          font: {
            size: 18px;
            weight: normal;
          };
        }
      }
    }

  }
  .first_btn{
    width:400px ;
    height: 90px;
    margin: 50px auto 30px;
    background: $ff4d49;
    font: {
      size: 36px;
    };
    line:{
      height: 90px;
    }
    color: #fff;
    text-align: center;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    cursor: pointer;
  }

}
.second_box{
  width: 1000px;
  margin: 65px auto 150px;
  background: #fff;
  .second_title{
    font:{
      size: 36px;
      weight: bold;
    }
    color: $ff4923;
    text-align: center;
    padding:{
      top: 40px;
      bottom: 30px;
    }
  }
  .second_pic{
    background:rgba(0, 0, 0, 0) url("../img/ranking.png") repeat scroll center center;
    width: 933px;
    height: 233px;
    margin: 33px auto 0;
  }
  .my_rank_box{
    width: 960px;
    height: 155px;
    background: $fffdf2;
    margin: 40px auto 10px;
    overflow: hidden;
    .rank_left{
      float: left;
      width: 330px;
      margin: {
        left: 50px;
        top:20px ;

      };
      img{
        width: 42px;
        height: 41px;
        display: block;
        float: left;
        margin: 0 20px 0 0;
      }
      div{
        font: {
          size: 24px;
        };
        color: $ff4923;
        width: 260px;
        float: left;
        height: 56px;
        margin: {
          top:10px;
        };
      }
    }
    .rank_right{
      float: right;
      margin: {
        right: 50px;
      };
      .second_btn{
        width: 290px;
        height: 70px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        border-radius:5px;
        background: $ff4d49;
        font: {
          size: 24px;
        };
        color: #fff;
        text-align: center;
        line-height: 70px;
        margin: {
          top:42px
        };
        cursor: pointer;
      }
      .login_num_box{
        width: 400px;
        float: right;
        .login_num{
          text-align: right;
          margin: {
            top:12px
          };
          color: $ff4923;
          font: {
            size: 30px;
            weight: bold;
          };
          line-height: 56px;
          span{
            font: {
              size: 18px;
              weight: normal;
            };
          }

        }
      }

    }
  }
}
.ranking_title{
  width: 960px;
  height: 70px;
  background: $fffdf2;
  margin: 10px auto 4px ;
  overflow: hidden;
  text-align: center;
  line-height: 70px;
  font: {
    size: 24px;
  };
  color: $ff4923;
  .ranking_pai{
    float: left;
    width: 200px;
  }
  .ranking_user{
    float: left;
    width: 380px;
  }
  .ranking_lei{
    float: left;
    width: 380px;
  }
}
.ranking_body{
  width: 960px;
  background: $fffdf2;
  margin: 0 auto;
  .ranking_num{
    max-height: 560px;
    .body_box{
      height: 56px;
      overflow: hidden;
      text-align: center;
      line-height: 56px;
      font: {
        size: 20px;
      };
      color: $ff4923;
    }
    .body_pai{
      float: left;
      width: 200px;
      .num_ex{
        background: #ffd7a8;
        border-radius: 3px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 13px auto;
      }
    }
    .body_user{
      float: left;
      width: 380px;
    }
    .body_lei{
      float: left;
      width: 380px;
    }
  }
  .ranking_no{
    height: 360px;
    img{
      width:181px;
      height: 144px;
      margin: 0 auto;
      display: block;
      padding-top: 100px;
    }
    .ranking_text{
      padding-top:30px;
      text-align: center;
      color: $ff4923;
      font: {
        size: 36px;
      };
    }
  }
  .ranking_btn{
    width: 960px;
    margin: 0 auto;
    height: 103px;
    background: $fffdf2;
    .ranking_go{
      width: 247px;
      height: 65px;
      background:rgba(0, 0, 0, 0) url("../img/btn.png") repeat scroll center center;
      margin: 42px auto;
      cursor: pointer;
    }
  }

}
.last_text{
  width: 900px;
  margin: 20px auto;
  background: $fffdf2;
  font: {
    size: 16px;
  };
  color: $ff4923;
  padding:40px 0  40px 60px ;
  line-height: 28px;


}